@import url('./reset.css');
:root {
  --light-grey: #eeeeee;
}
body {
  display: flex;
}
/* sidebar */
.sidebar {
  background-color: yellow;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sidebar > * {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.pjctdiv > * {
  display: flex;
}
.pjctdiv img {
  width: 1rem;
}
/* right area */
.right {
  flex: 3;
  background-color: olivedrab;
  display: flex;
  flex-direction: column;
}
.bar {
  display: flex;
  background-color: #4c0d48;
  flex: 1;
}
/* display section */
.main {
  flex: 8;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  align-items: center;
}
.todoItem {
  background-color: white;
  display: flex;
  font-size: 2rem;
  width: 90%;
  height: 1.8em;
  border-radius: 15px;
  align-items: center;
}
.todoItem > * {
  flex: 10;
}
.todoItem img {
  max-width: 1.8rem;
}
/* .todoItem > *:nth-child(-n + 2), */
.todoItem > div:has(img) {
  flex: 1;
}
.hidden {
  display: none;
}

input[type='checkbox'] {
  accent-color: green;
}

/* bar */
.bar > * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  flex: 6;
}

dialog[open] {
  border: none;
  border-radius: 10px;
  font-size: 2rem;
}
dialog[open] > form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
input[type='text'],
textarea {
  border: none;
  border-bottom: 1px solid var(--light-grey);
  outline: none;
}
textarea {
  border: 1px solid var(--light-grey);
  outline: none;
  border-radius: 13px;
}
